body {
}

footer {
   position: absolute;
   bottom: 0;
   height: 80px;
   padding: 10px;
   border-top: 1px solid rgba(0, 0, 0, 0.2);
   box-sizing: border-box;
}

#main-content {
   padding-bottom: 10px;
   overflow-y: auto;
   position: absolute;
   top: 60px;
   bottom: 80px;
   width: 100%;
}

table > thead > tr > th {
   text-align: center !important;
}

/* Pnotify */
.ui-pnotify-title {
   font-size: 18px;
}

.ui-pnotify {
   top: unset !important;
   bottom: 36px !important;
   width: 60% !important;
   left: 20% !important;
}

hr {
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#dv-loading {
   display: none;
   position: fixed;
   text-align: center;
   height: 100%;
   width: 100%;
   top: 0;
   right: 0;
   left: 0;
   z-index: 9999999;
   background-color: #000000;
   opacity: 0.8;
}

   #dv-loading #img-dv-loading {
      padding: 10px;
      position: fixed;
      top: 46%;
      left: 46%;
      width: 64px;
      height: 64px;
      background-image: url('/Content/img/loading.gif');
      background-size: 100%;
   }